{% extends 'tour/layouts/main.html' %}

{% load static %}

{% block title %}
        Tourist Destinations | Add image and review for {{destination.place_name}}
{% endblock title %}

{% block content %}

<section class="my-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-6">
                <div class="card m-2 bg-dark bg-gradient py-4 text-light">
                    <div class="d-flex justify-content-center">
                        <h4 class="text-danger p-2">Add your experience with your pics...</h4>
                        {% include 'tour/inc/message.html' %}
                    </div>
                    <hr class="bg-info">
                    <form action="" method="post" enctype="multipart/form-data" class="p-4">
                        {% csrf_token %}
                        <label for="" class="form-label">Images</label>
                        {{form.image}}
                        <label for="" class="form-label">Reviews</label>
                        {{form.review}}
                        <div class="mb-4" style="display: flex; flex-direction: column; align-items: center;">
                            <button type="submit" class="btn btn-outline-info my-4">Add Reviews</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}